

<%if signed_in %>
    <p id="siteTagLine">Hi, <%=user_name%>. You are signed in.  Here is a list of your blogs:</p>
<% else %>
    <p id="siteTagLine">All the blogs on our site:</p>
<% end %>

<%blogs.each do |blog|%>
    <div class="blogSummaryWrap subtle">
        <h4 class="blogTitle"><%= blog.title%></h4>
        <%if !signed_in %>
            <p>by: <%=blog.user.user_name%></p>
        <%end%>
        <p><em>summary:</em> <%= blog.summary%></p>
        <div class="tagDisplayWrap">
            <p class="tagTitle"><em>tags:</em></p>
            <%unique_tag_names = {}%>
            <%blog.posts.each do |post|%>
                <%tag_names = []%>
                <%post.tags.each do |tag|%>
                <%if !unique_tag_names[tag.name]%>
                        <%tag_names.push(tag.name)%>
                <%end%>
                <%unique_tag_names[tag.name] = true%>
                <%end%>
                <%tag_names.each do |tag_name|%>
                    <div class="tagWrap">#<%=tag_name%> </div>
                <%end%>
            <%end%>
        </div>
        <a href="/blog/<%=blog.id%>/view" class="link">view blog</a>
        <%if signed_in %>
            <a href="/blog/<%= blog.id %>/edit">edit</a>
            <a href="/blog/<%= blog.id %>/destroy">delete</a>
        <% end %>
    </div>
<%end%>



