
<% does_not_exist_error %>
<%if signed_in %>
    <p>Hi, <%=user_name%>. You are signed in.  Here is a list of your blogs:</p>
<% else %>
    <p>This is a list of all the blogs on our site</p>
<% end %>

<%blogs.each do |blog|%>
    <div class="blogSummaryWrap">
        <h4><em>title:</em> <%= blog.title%></h4>
        <a href="/blog/<%=blog.id%>">view this blog</a>
        <%if !signed_in %>
            <p>by: <%=blog.user.user_name%></p>
        <%end%>
        <p><em>summary:</em> <%= blog.summary%></p>
        <p><em>tags:</em></p>
        <%blog.posts.each do |post|%>
            <%unique_tag_names = {}%>
            <%tag_names = []%>
            <%post.tags.each do |tag|%>
               <%if !unique_tag_names[tag.name]%>
                    <%tag_names.push(tag.name)%>
                    <%unique_tag_names[tag.name] = true%>
               <%end%>
            <%end%>
            <%tag_names.each do |tag_name|%>
                <div class="tagWrap">#<%=tag_name%> </div>
            <%end%>
        <%end%>
        <%if signed_in %>
            <a href="/blog/<%= blog.id %>/edit">edit</a>
            <a href="/blog/<%= blog.id %>/destroy">delete</a>
        <% end %>
    </div>
<%end%>



